@layer base, starlight, theme, components, utilities;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);



@theme {
  /* Your preferred text font. Starlight uses a system font stack by default. */
  --font-sans: 'Wix Madefor Text';
  /* Your preferred code font. Starlight uses system monospace fonts by default. */
  --font-mono: 'JetBrains Mono';

  /* Generated accent color palettes. */
  --color-accent-200: #b5c9ef;
  --color-accent-600: #1547ad;
  --color-accent-900: #19305d;
  --color-accent-950: #14233f;
  /* Generated gray color palettes. */
  --color-gray-100: #f5f6f9;
  --color-gray-200: #ecedf3;
  --color-gray-300: #bfc2c8;
  --color-gray-400: #878b98;
  --color-gray-500: #545863;
  --color-gray-700: #343842;
  --color-gray-800: #232630;
  --color-gray-900: #16181d;
}